<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD HOSPITAL</title>
</head>
<body>
<center>
<form action=""  method="post">
	<table border="0">
		<tr>
			<td>City :</td>
            <td><input type="text" size="29" name="City" id="City" value="{{request.form.City}}" required/></td>
		</tr>
		<tr>
			<td>Capacity :</td>
            <td><input type="text" size="29" name="Capacity" id="Capacity" value="{{request.form.Capacity}}"/></td>
		</tr>
		<tr>
			<td>Address :</td>
			<td><textarea rows="4" cols="30" name="Address" id="Address" value="{{request.form.Address}}"></textarea></td>
		</tr>
		<tr>
			<td>Name :</td>
			<td><textarea rows="4" cols="30" name="Name" id="Name" value="{{request.form.Name}}"></textarea></td>
		</tr>

        <tr>
			<td></td><td><input type="submit" value="Add Hospital"></td>
		</tr>
	</table>
    {% if derror %}
	<p class="derror"><strong>{{ derror }}</strong></p>
      {% endif %}
</form>

</center>
</body>
</html>