{% extends "layout.html" %}
{% block content %}
<form class="form-horizontal" action="{{ url_for('site.hospital_add_page') }}" method="post">
    <fieldset>
    <!-- City input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="City">Existing City</label>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <select id="City" name="City" class="selectpicker form-control" required>
                        {% for city in cities %}
                            <option value="{{city[0]}}">{{city[2]}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

    <!-- Capacity input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Capacity">Capacity</label>
            <div class="col-md-4">
                <input id="Capacity" name="Capacity" placeholder="Capacity" class="form-control input-md"
                       type="number" required>

            </div>
        </div>

    <!-- Address input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Address">Address</label>
            <div class="col-md-4">
                <input id="Address" name="Address" placeholder="Address" class="form-control input-md"
                       type="text" required>

            </div>
        </div>

    <!-- Name input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Name">Name</label>
            <div class="col-md-4">
                <input id="Name" name="Name" placeholder="Name" class="form-control input-md"
                       type="text" required>

            </div>
        </div>

    <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="register_button"></label>
            <div class="col-md-4">
                <button id="register_button" name="register_button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}