<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="static/stylelogin.css">
</head>
<body>
<center>
<div class="bodyback">
        <h1>Please login to the system!</h1>
      <form action="" method="post">
          <table border="0">
              <tr>
                  <td>Username</td><td>:</td>
                  <td><input type="text" placeholder="Username" name="username" value="{{request.form.username }}"></td>
              </tr>
              <tr>
                  <td>Password</td><td>:</td>
                  <td><input type="password" placeholder="Password" name="password" value="{{request.form.password }}"></td>
              </tr>

          </table>

        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
</div>
</center>
</body>
</html>