<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- Name input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Name">Name</label>
            <div class="col-md-4">
                <input id="Name" name="Name" placeholder="Name" class="form-control input-md"
                       type="text">

            </div>
        </div>
    <!-- Surname input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Surname">Name</label>
            <div class="col-md-4">
                <input id="Surname" name="Surname" placeholder="Surname" class="form-control input-md"
                       type="text">

            </div>
        </div>
</body>
</html>