{% extends "layout.html" %}
{% block content %}
<form class="form-horizontal" action="{{ url_for('site.hospital_add_page') }}" method="post">
    <fieldset>
    <!-- Department input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="DepartmentID">Department</label>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <select id="DepartmentID" name="DepartmentID" class="selectpicker form-control" required>
                        {% for department in departments %}
                            <option value="{{department[0]}}">{{ department[2] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

    <!-- RoomNo input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="RoomNo">Room Number</label>
            <div class="col-md-4">
                <input id="RoomNo" name="RoomNo" placeholder="RoomNo" class="form-control input-md"
                       type="number" required>

            </div>
        </div>

    <!-- Capacity input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Capacity">Capacity</label>
            <div class="col-md-4">
                <input id="Capacity" name="Capacity" placeholder="Capacity" class="form-control input-md"
                       type="number" required>

            </div>
        </div>

    <!-- Bathroom input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="BathroomCount">Bathroom Number</label>
            <div class="col-md-4">
                <input id="BathroomCount" name="BathroomCount" placeholder="BathroomCount" class="form-control input-md"
                       type="number" required>

            </div>
        </div>

    <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="register_button"></label>
            <div class="col-md-4">
                <button id="register_button" name="register_button" class="btn btn-primary">Add</button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock %}