<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Hospital</title>
</head>
<body>-->
{% extends "layout.html" %}
{% block content %}
<center>
<form action=""  method="post">
	<table border="0">
		<tr>
			<td>City :</td>
            <td><input type="text" size="29" name="city" id="City" value="{{request.form.city}}" required/></td>
		</tr>
		<tr>
			<td>Capacity :</td>
            <td><input type="text" size="29" name="capacity" id="Capacity" value="{{request.form.capacity}}"/></td>
		</tr>
		<tr>
			<td>Address :</td>
			<td><textarea rows="4" cols="30" name="address" id="Address" value="{{request.form.address}}"></textarea></td>
		</tr>
		<tr>
			<td>Name :</td>
			<td><textarea rows="4" cols="30" name="name" id="Name" value="{{request.form.name}}"></textarea></td>
		</tr>

        <tr>
			<td></td><td><input type="submit" value="Add Hospital"></td>
		</tr>
	</table>
    {% if derror %}
	<p class="derror"><strong>{{ derror }}</strong></p>
      {% endif %}
</form>

</center>
{% endblock %}