<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Room</title>
</head>
<body>-->
{% extends "layout.html" %}
{% block content %}
<center>
<form action=""  method="post">
	<table border="0">
		<tr>
			<td>Department ID :</td>
            <td><input type="text" size="29" name="departmentid" id="DepartmentID" value="{{request.form.departmentid}}" required/></td>
		</tr>
		<tr>
			<td>Room Number :</td>
            <td><input type="text" size="29" name="roomno" id="RoomNo" value="{{request.form.roomno}}"required/></td>
		</tr>
        <tr>
			<td>Capacity :</td>
            <td><input type="text" size="29" name="capacity" id="Capacity" value="{{request.form.capacity}}"/></td>
		</tr>
        <tr>
			<td>Number of Bathrooms :</td>
            <td><input type="text" size="29" name="bathroomcount" id="BathroomCount" value="{{request.form.bathroomcount}}"/></td>
		</tr>
        <tr>
			<td></td><td><input type="submit" value="Update Room"></td>
		</tr>
	</table>
    {% if derror %}
	<p class="derror"><strong>{{ derror }}</strong></p>
      {% endif %}
</form>

</center>
{% endblock %}