<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
</head>
<body>-->
{% extends "layout.html" %}
{% block content %}
<center>
<form action=""  method="post">
	<table border="0">
		<tr>
			<td>HospitalID :</td>
            <td><input type="text" size="29" name="hospitalid" id="HospitalID" value="{{request.form.hospitalid}}" required/></td>
		</tr>
		<tr>
			<td>Department Type ID :</td>
            <td><input type="text" size="29" name="deptypeid" id="DepartmentTypeID" value="{{request.form.deptypeid}}" required/></td>
		</tr>
        <tr>
			<td>Number of Rooms :</td>
            <td><input type="text" size="29" name="roomcount" id="RoomCount" value="{{request.form.roomcount}}" required/></td>
		</tr>
        <tr>
			<td>Block Number :</td>
            <td><input type="text" size="29" name="blocknumber" id="BlockNumber" value="{{request.form.blocknumber}}" required/></td>
		</tr>
        <tr>
			<td>Personal Number :</td>
            <td><input type="text" size="29" name="personalcount" id="PersonalCount" value="{{request.form.personalcount}}" required/></td>
		</tr>
        <tr>
			<td></td><td><input type="submit" value="Update Department"></td>
		</tr>
	</table>
    {% if derror %}
	<p class="derror"><strong>{{ derror }}</strong></p>
      {% endif %}
</form>

</center>
{% endblock %}